*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #B4B4B8;
}

/* Header and Footer*/
.header, .footer{
    padding: 10px;
    text-align: center;
}

.header{
    font-size: 50px;
}

.footer{
    background-color: #C7C8CC;
}

/* Main */
.main, .toolContainer, .row{
    display: flex;
    justify-content: center;
}

.main{
    gap: 20px;
}

.toolContainer{
    flex-direction: column;
    justify-content: space-evenly;
}

button{
    width: 120px;
    height: 75px;
    background-color: #F2EFE5;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    text-wrap: wrap;
}

button:hover{
    filter: brightness(1.2);
    transition: .1s;
}

button:focus{
    border: 1px black solid;
}

button:active, .toggled{
    background-color: #C7C8CC;
}

.gridContainer{
    width: 500px;
    height: 500px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
}

.box, .row{
    flex: 1;
}

.colored{
    background-color: black;
}
